<div class="card mb-3 player-card">
    <img src="{{photo}}" class="card-img-top" alt="{{name}}">
    <div class="card-body">
        <h5 class="card-title">{{name}} {{lastName}}</h5>
        <p>{{team}}</p>
    </div>
</div>